meta(charset="utf-8")
title page
meta(name="description")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
meta(name="format-detection" content="telephone=no")
meta(name="tagline" content="https://feodoraxis.ru/")
meta(name="author" content="Andrei Smorodin")
//- meta(name="theme-color" content="#FFF")
link(rel="stylesheet" href="css/app.min.css?ver=1.0")